* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar .megamenu {
    padding: 0;
}


/* ============ desktop view ============ */

.dropdown-large {
    padding: 1rem;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
    .dropdown-large {
        min-width: 500px;
    }
}

@media all and (min-width: 992px) {

    .navbar .has-megamenu {
        position: static !important;
    }

    .navbar .megamenu {
        left: 0;
        right: 0;
        width: 100%;
        margin-top: 0;
    }

}

a,
h6 {
    color: rgba(255, 255, 255, 0.55);
    width: fit-content;
}

/* ============ desktop view .end// ============ */


/* ============ mobile view ============ */
@media(max-width: 991px) {

    .navbar.fixed-top .navbar-collapse,
    .navbar.sticky-top .navbar-collapse {
        overflow-y: auto;
        max-height: 90vh;
        margin-top: 10px;
    }
}

/* ============ mobile view .end// ============ */

.navbar {
    background-color: #0c121c;
}

.container {
    max-width: 100%;
    padding: 0;
}

.dropdown-menu {
    background-color: #ffffff;
}

.colrow{
    width: fit-content;
}
.col-6{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.dropdown-menu{
    width: fit-content;
}
.dropdown-menu hr{
    margin: 0;
}
.drop-val{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0.8rem 1rem;
    width: 100%;
}
.drop-val i,h6{
    color: #111;
    margin: 0;
}
.drop-val i{
    margin-right: 1rem;
}
.col-6 h6{
    width: 100%;
}
.drop-val:hover{
    background-color: rgb(221, 196, 11);
    color: #0c121c;
}
.dropdown-menu{
    width: fit-content;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: none;
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}
@media(max-width: 991px) {

    .dropdown-menu{
        width: 100%;
    }
}


/* -----------MegaMenu----------- */
/* .megaMenu{
    width: 100%;
}
.megaM{
    display: flex;
    flex-direction: row;
    justify-self: center;
}
.col-megamenu{
    width: 25rem;
}

@media all and (min-width: 992px) {
	.navbar .megamenu .megamenu{ display: none; }
	.navbar .megamenu:hover .nav-link{   }
	.navbar .megamenu:hover .megamenu{ display: block; }
	.navbar .megamenu .megamenu{ margin-top:0; }
} */

.nav{
    overflow: hidden;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav a {
    float: left;
    font-size: 16px;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .drop-Menu {
    float: left;
    overflow:100%;
    width:fit-content;
  }

  .drop-Menu .drop-button {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
  }

  .drop-Menu:hover
  .drop-button{
    background-color: rgb(221, 196, 11);
  }

  .drop-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .drop-content .headerMenu {
    background: #0c121c;
    padding: 16px;
    color: white;
  }

  .drop-Menu:hover .drop-content{
    display: block;
  }

  .column-content {
    float: left;
    width: 33.33%;
    padding: 10px;
    background-color: #ccc;
    height: 250px;
  }

  .column-content a{
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .column-content a:hover {
    background-color: #ddd;
  }
  .row-content:after {
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (max-width: 600px) {
    .column-content {
      width: 100%;
      height: auto;
    }
  }



/* ----------envir content---------- */
.envir-classes{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.envir-body{
    width: 50%;
}
#myVideo {
    position: fixed;
    min-width: fit-content;
    min-height: fit-content;
  }
.envir-content {
    position: fixed;
  color: #f1f1f1;
  width: fit-content;
  padding: 20px;
  width: fit-content;
  }
  .envir-megaContent{
    display: flex;
    flex-direction: row;
  }
.envir-megaContent{
    display: none;
}
.envir-body:hover .envir-megaContent{
    display:flex;
    width: max-content;
    transition: 1s
}


/* ------------MegaMenu 2---------------- */
.mega-drop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10rem 1rem 4rem;
}
/* .megaTitle-content{
    height: fit-content;
    width: fit-content;
} */
.megaTitle-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.drop-title{
    margin-bottom: 1rem;
    color: #fff;
    font-weight: 30;
    font-weight: bolder;
}
#video-bg {
    width: 350px;
    height: 200px;
  }
  
  div#video-bg video {
    object-fit: cover;
  }
  .vid{
    width: 100%;
    height: 100%;
  }

  .megaOption ul{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style-type:none;
  }
  .megaOption ul a li{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-family: 'Courier Prime', monospace;
  }
  .megaOption ul a li:hover{
    color: yellow;
    text-decoration: underline;
    transition: 0.5s;
  }
  .megaOption ul a{
    padding: 0.2rem 0;
  }

  .con{
    
    background-image: url("./menu_con.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .sec{
    background-image: url("./menu_sec.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hea{
    background-image: url("./menu_hea.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .city{
    background-image: url("./sm_cit.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
